# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# Environment Variables
.env

# ChromaDB local vector storage
chroma_db/
chroma_data/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Database & Runtime Uploads
*.db
uploads/

# Node
node_modules/
dist/
build/

